@charset "UTF-8";
/* Не переносить - START */
body {
  margin: 0;
}

/* Не переносить - END */
.wrapper * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper ul, .wrapper li {
  list-style: none;
}

.wrapper a {
  text-decoration: none;
}

/* Не переносить - START */
@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSans-Regular__W.woff2") format("woff2"), url("../fonts/MTSSans-Regular__W.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSans-Medium__W.woff2") format("woff2"), url("../fonts/MTSSans-Medium__W.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSans-Bold__W.woff2") format("woff2"), url("../fonts/MTSSans-Bold__W.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MTS Sans';
  src: url("../fonts/MTSSans-Black__W.woff2") format("woff2"), url("../fonts/MTSSans-Black__W.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'MTS Sans';
  src: url("../fonts/MTSSans-UltraWide__W.woff2") format("woff2"), url("../fonts/MTSSans-UltraWide__W.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Не переносить - END */
body {
  overflow-x: hidden;
  background: #F3F2F8;
}

.bg-gray {
  display: none;
}

.wrapper {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  background: #F3F2F8;
}

@media (min-width: 1024px) {
  .wrapper {
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
  }
}

.wrapper img {
  display: block;
  max-width: 100%;
}

.envelope {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .envelope {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .envelope {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .envelope {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .envelope {
    max-width: 1216px;
  }
}

.hasPadding {
  padding: 0 16px;
}

@media (min-width: 1024px) {
  .hasPadding {
    padding: 0 24px;
  }
}

@media (min-width: 1280px) {
  .hasPadding {
    padding: 0 32px;
  }
}

h3.section-title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

@media screen and (min-width: 1024px) {
  h3.section-title {
    font-size: 32px;
    line-height: 36px;
  }
}

h4.section-title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0px;
}

@media screen and (min-width: 1024px) {
  h4.section-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.5px;
  }
}

.section-title {
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .section-title {
    margin-bottom: 32px;
  }
}

.envelope a {
  color: #007CFF;
}

.envelope a:hover {
  color: #007CFF;
  text-decoration: underline !important;
}

.envelope a:active {
  color: #000;
  text-decoration: underline !important;
}

/* Не переносить - START */
.footer {
  background-color: #f0dcf08a;
  height: 60px;
  border: 2px dotted;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96px;
}

/* Не переносить - END */
.btn {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #E30611;
  color: #FFFFFF;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 52px;
  border: none;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 14px;
  border-radius: 8px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover {
  background-color: #C8050F;
  color: #FFFFFF;
}

.btn:active {
  background-color: #AD050D;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .btn {
    padding: 14px 32px;
    width: auto;
    margin: 0;
  }
}

.steps {
  margin-top: 52px;
}

@media (min-width: 1024px) {
  .steps {
    margin-top: 64px;
  }
}

.steps__block {
  position: relative;
}

.steps__block:before {
  content: "";
  position: absolute;
  left: calc(52px / 2);
  width: 1px;
  height: 80%;
  background-color: #BBC1C7;
}

@media (min-width: 1024px) {
  .steps__block:before {
    display: none;
  }
}

@media (min-width: 1024px) {
  .steps__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.steps__heading {
  text-align: left;
}

@media (min-width: 1024px) {
  .steps__heading {
    text-align: center;
  }
}

.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 100%;
}

.steps__item:first-child {
  margin-left: 0;
}

@media (min-width: 1024px) {
  .steps__item {
    margin-left: 32px;
  }
}

@media (min-width: 1360px) {
  .steps__item {
    margin-left: 48px;
  }
}

@media (min-width: 1600px) {
  .steps__item {
    margin-left: 52px;
  }
}

@media (min-width: 1024px) {
  .steps__item {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .steps__item_line:before {
    content: "";
    position: absolute;
    top: 32px;
    height: 1px;
    background-color: #BBC1C7;
  }
}

@media (min-width: 1024px) and (min-width: 1024px) {
  .steps__item_line:before {
    left: 71%;
    width: 70%;
  }
}

@media (min-width: 1024px) and (min-width: 1280px) {
  .steps__item_line:before {
    left: 65%;
    width: 78%;
  }
}

@media (min-width: 1024px) and (min-width: 1440px) {
  .steps__item_line:before {
    left: 64%;
    width: 84%;
  }
}

.steps__item:not(:last-child) {
  margin-bottom: 32px;
}

@media (min-width: 1024px) {
  .steps__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .steps__number-wrapper {
    margin-bottom: 16px;
  }
}

.steps__number {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0 0 0px 8px #f2f3f7;
          box-shadow: 0 0 0px 8px #f2f3f7;
}

@media (min-width: 1024px) {
  .steps__number {
    -webkit-box-shadow: 0 0 0px 24px #f2f3f7;
            box-shadow: 0 0 0px 24px #f2f3f7;
    width: 64px;
    height: 64px;
  }
}

.steps__text-wrapper {
  margin-left: 16px;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .steps__text-wrapper {
    max-width: 258px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .steps__text-wrapper {
    max-width: 348px;
  }
}

.steps__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .steps__title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

.steps__text {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 1024px) {
  .steps__text {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

.steps__text br {
  display: none;
}

@media only screen and (min-width: 414px) {
  .steps__text br {
    display: block;
  }
}

.steps__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

@media (min-width: 1024px) {
  .steps__btn-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 24px;
  }
}

.steps__btn {
  padding: 14px 32px;
  width: auto;
  margin: 0;
}

.accordion__item {
  padding: 10px 0;
  -webkit-box-shadow: inset 0px -1px 0px #e2e5eb;
          box-shadow: inset 0px -1px 0px #e2e5eb;
}

.accordion__item.active {
  padding: 10px 0 20px;
}

@media (min-width: 1024px) {
  .accordion__item.active {
    padding: 20px 0 24px;
  }
}

.accordion__item.active .accordion__question::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .accordion__item {
    padding: 20px 0;
  }
  .accordion__item:first-child {
    padding-top: 0px;
  }
}

.accordion__question {
  padding-right: 28px;
  font-size: 17px;
  line-height: 24px;
  position: relative;
  font-weight: 500;
  cursor: pointer;
}

.accordion__question::before {
  content: '';
  position: absolute;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 9px;
  right: 0px;
  display: block;
  width: 12px;
  height: 7px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.accordion__question:hover {
  color: #E30611;
}

.accordion__question:hover::before {
  background-image: url("../img/arrow-red.svg");
  background-repeat: no-repeat;
}

.accordion__answer {
  padding-right: 28px;
  display: none;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  padding-bottom: 4px;
}

.accordion__answer p:not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .accordion {
    width: 576px;
  }
  .accordion__question {
    font-size: 20px;
    line-height: 24px;
  }
  .accordion__answer {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 1280px) {
  .accordion {
    width: 752px;
  }
}

@media (min-width: 1440px) {
  .accordion {
    width: 844px;
  }
}

.header {
  background: transparent;
  position: absolute;
  top: 36px;
  width: 100%;
  z-index: 30;
}

@media (min-width: 1024px) {
  .header {
    z-index: 30;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

.header.active {
  height: 100%;
  width: 100vw;
  overflow: auto;
  position: fixed;
  background-color: white;
  z-index: 2;
  top: 0px;
  padding-top: 36px;
}

@media (min-width: 1024px) {
  .header.sticky {
    position: fixed;
    background: rgba(255, 255, 255, 0.97);
  }
}

.header__inner {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 0;
  }
}

.header__inner a {
  color: #000;
}

.header__inner a:hover {
  color: #000;
  text-decoration: none !important;
}

.header__inner a:active {
  color: #000;
  text-decoration: none !important;
}

.header__nav, .header__btn {
  display: none;
}

@media (min-width: 1024px) {
  .header__nav, .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .header__nav {
    margin-left: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (max-content)[5];
        grid-template-columns: repeat(5, -webkit-max-content);
        grid-template-columns: repeat(5, max-content);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .header__nav-link {
    color: #000;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
    font-weight: 500;
  }
  .header__nav-link-gray {
    color: #969fa8;
  }
  .header__nav-link:hover {
    border-bottom: 4px #E30611 solid;
    padding-bottom: 12px;
  }
  .header__nav-link:focus {
    background: transparent;
    color: #E30611;
  }
  .header__nav-link-private {
    display: none;
  }
}

@media (min-width: 1024px) and (min-width: 1440px) {
  .header__nav-link-private {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header__nav-link__more {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
    font-weight: 500;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-link__more svg {
    position: relative;
    top: 1px;
    left: 4px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

@media (min-width: 1280px) {
  .header__nav {
    -ms-grid-columns: (max-content)[6];
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
  }
}

.header__btn {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px 85px;
  font-weight: 500;
}

.header__logo {
  max-width: 164px;
}

@media (min-width: 1024px) {
  .header__logo {
    max-width: 100%;
  }
}

.header__nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-left: auto;
}

.header__nav-mobile svg {
  position: relative;
  top: 1px;
  margin-left: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1023.99px) {
  .header__nav-mobile {
    display: none;
  }
}

.header__nav-mobile__list {
  display: none;
}

.header__nav-mobile__list.active {
  display: inherit;
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav-mobile__list ul {
  width: 100%;
}

.header__nav-mobile__list li {
  border-bottom: 1px solid #ededed;
  padding: 12px 0;
}

.header__nav-mobile__list li:first-child {
  border-top: 1px solid #ededed;
}

.header__nav-mobile__list a {
  padding: 0 16px;
}

.header__nav-mobile__btn {
  height: 32px;
  margin: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #e2e5eb;
  border-radius: 8px;
  background-color: #e2e5eb;
  color: black;
  -webkit-transition: border-color 200ms ease 0s, background-color 200ms ease 0s;
  transition: border-color 200ms ease 0s, background-color 200ms ease 0s;
  outline: none;
  font-size: 12px;
  text-align: center;
}

.link-hide {
  position: absolute;
  top: 40px;
  left: -5px;
  z-index: 10;
  display: none;
  grid-auto-rows: 32px;
  -ms-grid-columns: minmax(158px, 278px);
      grid-template-columns: minmax(158px, 278px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  background-color: white;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-hide-private {
  display: block;
}

@media (min-width: 1440px) {
  .link-hide-private {
    display: none;
  }
}

.link-hide a {
  color: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.link-hide__active {
  color: #E30611;
}

.link-hide__active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.visible {
  display: -ms-grid;
  display: grid;
}

.svg-1.hide, .svg-2.hide {
  display: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 58px;
}

@media (min-width: 1024px) {
  .banner {
    padding-top: 184px;
    padding-bottom: 142px;
  }
}

@media (min-width: 1280px) {
  .banner {
    padding-top: 184px;
    padding-bottom: 142px;
  }
}

.banner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 0 16px;
}

@media (min-width: 1024px) {
  .banner__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .banner__content {
    margin: 0 24px;
  }
}

@media (min-width: 1280px) {
  .banner__content {
    margin: 0 32px;
  }
}

.banner__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 42px;
  font-weight: 900;
}

@media (min-width: 1024px) {
  .banner__title {
    font-size: 28px;
    line-height: 42px;
    max-width: 424px;
  }
}

@media (min-width: 1280px) {
  .banner__title {
    max-width: 548px;
  }
}

.banner__text {
  font-size: 17px;
  line-height: 24px;
  margin-top: 36px;
  color: rgba(44, 44, 44, 0.6);
}

@media (min-width: 1024px) {
  .banner__text {
    margin-top: 24px;
    font-size: 20px;
    line-height: 28px;
  }
}

.banner__text-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .banner__text-desktop {
    display: block;
  }
}

.banner__text-mobile {
  display: block;
}

@media (min-width: 1024px) {
  .banner__text-mobile {
    display: none;
  }
}

.banner__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}

.banner__btn-block a {
  color: #000;
}

.banner__btn-block a:hover {
  color: #fff;
  text-decoration: none !important;
}

.banner__btn-block a:active {
  color: #fff;
  text-decoration: none !important;
}

.banner__btn {
  width: 100%;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 83px;
  padding: 20px 64px;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background: none;
}

@media (min-width: 1024px) {
  .banner__btn {
    width: auto;
  }
}

.banner__btn:hover {
  background: #E30611;
  color: #fff;
  padding: 22px 66px;
  border: none;
}

.banner__btn:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.24))), #E30611;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), #E30611;
  color: #fff;
  padding: 22px 66px;
  border: none;
}

.banner__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 58px;
  margin-right: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.excellence {
  margin-bottom: 52px;
}

@media (min-width: 1024px) {
  .excellence {
    margin-bottom: 132px;
  }
}

.excellence__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 12px;
}

@media (min-width: 1024px) {
  .excellence__blocks {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 24px;
  }
}

@media (min-width: 1280px) {
  .excellence__blocks {
    grid-column-gap: 48px;
  }
}

.excellence__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  height: 100%;
  background-color: #FFFFFF;
  padding: 28px;
}

.excellence__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.excellence__text {
  font-size: 17px;
  line-height: 24px;
}

.excellence__list {
  margin-top: 12px;
}

@media (min-width: 1280px) {
  .excellence__list {
    margin-top: 16px;
  }
}

.excellence__li {
  position: relative;
  list-style: none;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 1024px) {
  .excellence__li {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .excellence__li {
    padding-left: 24px;
  }
}

.excellence__li:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1280px) {
  .excellence__li:not(:last-child) {
    margin-bottom: 12px;
  }
}

.excellence__li::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #E30611;
  position: absolute;
  top: 10px;
  left: 0px;
}

@media (min-width: 1280px) {
  .excellence__li::before {
    width: 8px;
    height: 8px;
    top: 9px;
    left: 0px;
  }
}

.tabs {
  margin-top: 52px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 40px 12px;
}

@media (min-width: 1024px) {
  .tabs {
    margin-top: 113px;
    padding: 32px 47px;
  }
}

.tabs__btn {
  background: #F2F3F7;
  border-radius: 4px;
  padding: 8px 13px;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  width: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

@media (min-width: 1024px) {
  .tabs__btn {
    font-size: 17px;
    line-height: 24px;
    padding: 10px 20px;
  }
}

.tabs__btn:not(:last-child) {
  margin-right: 8px;
}

.tabs__btn:hover {
  background: #A9060E;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  color: #fff;
}

.tabs__btn.active {
  background: #E30611;
  color: #fff;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.tabs__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 32px;
}

.tabs-description {
  font-size: 12px;
  line-height: 24px;
  width: 100%;
  margin-top: 32px;
}

@media (min-width: 1024px) {
  .tabs-description {
    font-size: 14px;
    margin-top: 64px;
  }
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: inherit;
}

.docs {
  margin-top: 52px;
}

@media (min-width: 1024px) {
  .docs {
    margin-top: 64px;
  }
}

.docs__list {
  display: -ms-grid;
  display: grid;
  row-gap: 12px;
}

@media (min-width: 1024px) {
  .docs__list {
    -ms-grid-columns: (396px)[2];
        grid-template-columns: repeat(2, 396px);
    grid-column-gap: 32px;
  }
}

.docs__list a {
  color: #000;
}

.docs__list a:hover {
  color: #000;
  text-decoration: none !important;
}

.docs__list a:active {
  color: #000;
  text-decoration: none !important;
}

.docs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F2F3F7;
  padding: 16px;
  border-radius: 4px;
  color: #000000;
}

.docs__item:hover {
  color: #000000;
}

.docs__icon {
  width: 32px;
  min-width: 32px;
  margin-right: 12px;
}

.docs__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}

.docs__size {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  color: #626C77;
}

.docs__desktop {
  display: none;
}

@media (min-width: 1024px) {
  .docs__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.docs__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  .docs__mobile {
    display: none;
  }
}

.block-w-image {
  margin-top: 52px;
}

@media (min-width: 1024px) {
  .block-w-image {
    margin-top: 42px;
  }
}

.block-w-image__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  .block-w-image__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.block-w-image__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}

@media (min-width: 1024px) {
  .block-w-image__content {
    max-width: 464px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .block-w-image__content {
    max-width: 550px;
  }
}

.block-w-image__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .block-w-image__title {
    font-size: 28px;
    line-height: 40px;
    max-width: 430px;
    margin-bottom: 24px;
  }
}

.block-w-image__text {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: rgba(44, 44, 44, 0.6);
}

@media (min-width: 1024px) {
  .block-w-image__text {
    font-size: 20px;
    line-height: 28px;
    max-width: 390px;
  }
}

.cards2 {
  margin-top: 52px;
}

@media (min-width: 1024px) {
  .cards2 {
    margin-top: 98px;
  }
}

.cards2__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 12px;
}

@media (min-width: 1024px) {
  .cards2__blocks {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 24px;
  }
}

@media (min-width: 1280px) {
  .cards2__blocks {
    grid-column-gap: 48px;
  }
}

.cards2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  height: 100%;
  background-color: #FFFFFF;
  padding: 32px;
}

.cards2__icon {
  width: 52px;
  height: 52px;
  margin-bottom: 24px;
}

.cards2__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.cards2__text {
  font-size: 17px;
  line-height: 24px;
}

.cards2__list {
  margin-top: 12px;
}

@media (min-width: 1280px) {
  .cards2__list {
    margin-top: 16px;
  }
}

.cards2__li {
  position: relative;
  list-style: none;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 1024px) {
  .cards2__li {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .cards2__li {
    padding-left: 24px;
  }
}

.cards2__li:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1280px) {
  .cards2__li:not(:last-child) {
    margin-bottom: 12px;
  }
}

.cards2__li::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #E30611;
  position: absolute;
  top: 10px;
  left: 0px;
}

@media (min-width: 1280px) {
  .cards2__li::before {
    width: 8px;
    height: 8px;
    top: 9px;
    left: 0px;
  }
}

.tiles-on-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 28px;
  border-radius: 8px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fff;
}

@media (min-width: 1024px) {
  .tiles-on-bg {
    margin-bottom: 0;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 149px;
  }
}

@media (min-width: 1440px) {
  .tiles-on-bg {
    padding: 32px;
  }
}

.tiles-on-bg-padding {
  padding: 0 16px;
}

@media (min-width: 1024px) {
  .tiles-on-bg-padding {
    padding: 0px;
  }
}

.tiles-on-bg__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
}

.tiles-on-bg__text {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .tiles-on-bg__text {
    margin-bottom: 8px;
  }
}

.tiles-on-bg-section {
  background-image: linear-gradient(to top, transparent 0%, transparent 32px, #E2E5EB 32px, #E2E5EB 100%);
  padding-top: 32px;
  margin-top: 52px;
}

@media (min-width: 1024px) {
  .tiles-on-bg-section {
    background-image: linear-gradient(to top, transparent 0%, transparent 32px, #E2E5EB 32px, #E2E5EB 100%);
    margin-top: 98px;
  }
}

.tiles-on-bg-section-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .tiles-on-bg-section-title {
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 40px;
  }
}

.tiles-on-bg-all {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 12px 0;
}

@media (min-width: 1024px) {
  .tiles-on-bg-all {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 27px 48px;
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
  }
}

.cards3 {
  margin-top: 52px;
  margin-bottom: 52px;
}

@media (min-width: 1024px) {
  .cards3 {
    margin-top: 98px;
    margin-bottom: 123px;
  }
}

.cards3__section-title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

@media (min-width: 1024px) {
  .cards3__section-title {
    margin-bottom: 32px;
    font-size: 28px;
    max-width: 577px;
  }
}

.cards3__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 12px;
}

@media (min-width: 1024px) {
  .cards3__blocks {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 24px;
  }
}

@media (min-width: 1280px) {
  .cards3__blocks {
    grid-column-gap: 48px;
  }
}

.cards3__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  height: 100%;
  background-color: #FFFFFF;
  padding: 32px;
}

.cards3__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  max-width: 293px;
}

.cards3__text {
  font-size: 14px;
  line-height: 20px;
  color: #626C77;
}

.cards3__list {
  margin-top: 12px;
}

@media (min-width: 1280px) {
  .cards3__list {
    margin-top: 16px;
  }
}

.cards3__li {
  position: relative;
  list-style: none;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 1024px) {
  .cards3__li {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .cards3__li {
    padding-left: 24px;
  }
}

.cards3__li:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1280px) {
  .cards3__li:not(:last-child) {
    margin-bottom: 12px;
  }
}

.cards3__li::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #E30611;
  position: absolute;
  top: 10px;
  left: 0px;
}

@media (min-width: 1280px) {
  .cards3__li::before {
    width: 8px;
    height: 8px;
    top: 9px;
    left: 0px;
  }
}

.join-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 36px;
  text-align: center;
}

@media (min-width: 1024px) {
  .join__title {
    margin-bottom: 32px;
    font-size: 28px;
    max-width: 577px;
  }
}

.join__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 24px 0;
}

@media (min-width: 1024px) {
  .join__block {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.join__block a {
  color: #626C77;
}

.join__block a:hover {
  color: #E30611;
  text-decoration: none !important;
}

.join__block a:active {
  color: #A9060E;
  text-decoration: none !important;
}

.join__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 38px;
}

.join__icon {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

@media (min-width: 1024px) {
  .join__icon {
    width: 76px;
    height: 76px;
    margin-right: 22px;
  }
}

.join__text {
  font-size: 16px;
  line-height: 20px;
  padding: 22px 28px 22px 0;
}

@media (min-width: 1024px) {
  .join__text {
    font-size: 17px;
    line-height: 24px;
    padding: 26px 40px 26px 0;
  }
}

.tariffs-table {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

.tariffs-table__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .tariffs-table__title {
    margin-bottom: 32px;
  }
}

.tariffs-table__subtitle {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.tariffs-table__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: inset 0px -1px 0px #dee2e6;
          box-shadow: inset 0px -1px 0px #dee2e6;
}

@media (min-width: 1024px) {
  .tariffs-table__tr {
    padding: 0;
  }
}

.tariffs-table__tr:first-child {
  padding: 20px 0px;
}

@media (min-width: 1024px) {
  .tariffs-table__tr:first-child {
    padding-bottom: 0px;
  }
}

.tariffs-table__tr:not(:first-child) {
  padding: 20px 0px;
}

@media (min-width: 1024px) {
  .tariffs-table__tr:not(:first-child) {
    padding: 0px;
  }
}

.tariffs-table__tr:last-child {
  margin-bottom: 0px;
}

@media (min-width: 1024px) {
  .tariffs-table__tr {
    display: table-row;
  }
}

.tariffs-table__td {
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  vertical-align: top;
  text-align: right;
  width: 100%;
  text-align: left;
}

@media (min-width: 1024px) {
  .tariffs-table__td {
    padding: 32px 0;
    width: 530px;
  }
  .tariffs-table__td:not(:last-child) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.tariffs-table__td_left {
  text-align: left;
}

@media (min-width: 1024px) {
  .tariffs-table__td_left {
    width: 50%;
    padding: 32px 32px 32px 0;
  }
}

.tariffs-table__td span {
  color: #000;
  padding-bottom: 4px;
  position: initial;
  top: 0;
  left: 0;
  display: block;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 1024px) {
  .tariffs-table__td span {
    font-size: 17px;
  }
}

.tariffs-table__th {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #626C77;
  text-align: right;
  padding: 16px;
}

.tariffs-table__th_left {
  text-align: left;
}

.tariffs-table__thead {
  background-color: #F2F3F7;
  display: none;
}

@media (min-width: 1024px) {
  .tariffs-table__thead {
    display: table-row-group;
  }
}

.table-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .table-links {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.table-links a {
  text-decoration: underline !important;
  font-size: 17px;
  line-height: 24px;
}

.table-links a:not(:last-child) {
  padding: 52px 0 8px 0;
}

@media (min-width: 1024px) {
  .table-links a:not(:last-child) {
    padding: 32px 0;
  }
}

@media (min-width: 1024px) {
  .table-links a {
    padding: 32px 0;
  }
}

.faq h3.faq__title {
  margin-bottom: 16px;
}

.faq__content {
  margin-top: 24px;
}

@media (min-width: 1024px) {
  .faq__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 276px 1fr;
        grid-template-columns: 276px 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 34px;
    margin-top: 32px;
  }
}

@media (min-width: 1280px) {
  .faq__content {
    -ms-grid-columns: 352px 1fr;
        grid-template-columns: 352px 1fr;
    grid-column-gap: 48px;
  }
}

@media (min-width: 1440px) {
  .faq__content {
    -ms-grid-columns: 386px 1fr;
        grid-template-columns: 386px 1fr;
    grid-column-gap: 52px;
  }
}

.faq__tabs {
  display: none;
}

@media (min-width: 1024px) {
  .faq__tabs {
    display: block;
  }
}

.faq__tabs-item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.faq__tabs-item:not(:first-child) {
  margin-top: 24px;
}

.faq__tabs-item.active {
  color: #E30611;
}

.faq__tab-content {
  padding: 14px 0;
}

@media (min-width: 1024px) {
  .faq__tab-content {
    display: none;
    padding: 0 0;
  }
  .faq__tab-content.active {
    display: block;
  }
  .faq__tab-content.active .faq__subtitle::after {
    -webkit-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg);
  }
}

.faq__subtitle {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  padding-right: 25px;
}

@media (min-width: 1024px) {
  .faq__subtitle {
    display: none;
  }
}

.faq__subtitle::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/arrow.svg) center no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.faq__subtitle.active {
  color: #E30611;
}

.faq__subtitle.active::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  background: url(../img/arrow-red.svg) center no-repeat;
}

.faq__sub-tab {
  display: none;
  -webkit-transition: max-height .3s linear;
  transition: max-height .3s linear;
  padding: 16px 0 10px 16px;
}

@media (min-width: 1024px) {
  .faq__sub-tab {
    display: block;
    padding: 0;
  }
}

.faq__sub-tab.active {
  display: block;
}

.faq__question {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  padding: 15px 32px 15px 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

@media (min-width: 1024px) {
  .faq__question {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
  }
  .faq__question:first-of-type {
    padding-top: 20px;
    margin-top: -20px;
  }
  .faq__question span:hover {
    color: #E30611;
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
  }
}

.faq__question:before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/arrow.svg) center no-repeat;
  position: absolute;
  top: 15px;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (min-width: 1024px) {
  .faq__question:before {
    top: 17px;
  }
}

.faq__question.active::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url(../img/arrow.svg) center no-repeat;
}

@media (min-width: 1024px) {
  .faq__question.active::before {
    background: url(../img/arrow.svg) center no-repeat;
  }
}

.faq__question:not(:first-of-type) {
  -webkit-box-shadow: inset 0px 1px 0px #DEE2E6;
          box-shadow: inset 0px 1px 0px #DEE2E6;
}

.faq__question:last-of-type {
  -webkit-box-shadow: inset 0px 1px 0px #DEE2E6, inset 0px -1px 0px #DEE2E6;
          box-shadow: inset 0px 1px 0px #DEE2E6, inset 0px -1px 0px #DEE2E6;
}

.faq__answer {
  font-size: 17px;
  line-height: 20px;
  display: none;
  padding: 16px 0 10px 0;
  font-weight: normal;
}

@media (min-width: 1024px) {
  .faq__answer {
    padding: 20px 0 2px 0;
  }
}

.faq__answer.active {
  display: block;
}

.faq__answer p:not(:first-of-type) {
  margin-top: 12px;
}

.faq__answer ul,
.faq__answer ol {
  display: -ms-grid;
  display: grid;
  row-gap: 8px;
}

@media (min-width: 1024px) {
  .faq__answer ul,
  .faq__answer ol {
    row-gap: 12px;
  }
}

.faq__answer ul:not(:first-child),
.faq__answer ol:not(:first-child) {
  margin-top: 12px;
}

.faq__answer ul:not(:last-child),
.faq__answer ol:not(:last-child) {
  margin-bottom: 16px;
}

.faq__answer ul li,
.faq__answer ol li {
  position: relative;
}

.faq__answer ul li {
  padding-left: 16px;
}

.faq__answer ul li:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #E30611;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
}

.faq__btn {
  width: auto;
  padding: 15px 32px;
}

.faq__question:hover span {
  color: #E30611;
}

.faq__question:hover::before {
  background: url(../img/arrow-red.svg) center no-repeat;
}

.slider-section {
  margin-top: 52px;
  padding-bottom: 30px;
}

@media (min-width: 1024px) {
  .slider-section {
    margin-top: 132px;
    padding-bottom: 0px;
  }
}

.slider-section__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

@media (min-width: 1024px) {
  .slider-section__title {
    margin-bottom: -45px;
    font-size: 28px;
  }
}

@media (min-width: 1280px) {
  .slider-section__title {
    margin-bottom: -71px;
  }
}

@media (min-width: 1440px) {
  .slider-section__title {
    margin-bottom: -104px;
  }
}

.slider__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0 0;
  justify-items: center;
  padding: 0 16px;
}

@media (min-width: 1024px) {
  .slider__block {
    -ms-grid-columns: 464px auto;
        grid-template-columns: 464px auto;
    gap: 0 52px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 24px;
  }
}

@media (min-width: 1280px) {
  .slider__block {
    gap: 0 94px;
  }
}

.slider__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 247px;
  width: 100%;
}

@media (min-width: 1024px) {
  .slider__chat {
    width: inherit;
    height: 257px;
  }
}

.slider__icon {
  width: 44px;
  height: 44px;
  margin-top: auto;
  margin-right: 5px;
}

.slider__content {
  padding: 22px;
  background-color: #fff;
  position: relative;
  max-height: 187px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
}

@media (min-width: 1024px) {
  .slider__content {
    width: inherit;
    max-width: 415px;
    max-height: 200px;
    padding: 32px;
  }
}

.slider__content:before {
  content: '';
  -webkit-clip-path: polygon(100% 18%, 41% 62%, 13% 82%, 8% 83%, 5% 81%, 3% 78%, 3% 71%, 19% 18%);
          clip-path: polygon(100% 18%, 41% 62%, 13% 82%, 8% 83%, 5% 81%, 3% 78%, 3% 71%, 19% 18%);
  height: 28px;
  width: 24px;
  background-color: #fff;
  position: absolute;
  -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
  top: 178px;
  left: 3px;
}

@media (min-width: 1024px) {
  .slider__content:before {
    content: '';
    -webkit-clip-path: polygon(100% 18%, 41% 62%, 13% 82%, 8% 83%, 5% 81%, 3% 78%, 3% 71%, 19% 18%);
            clip-path: polygon(100% 18%, 41% 62%, 13% 82%, 8% 83%, 5% 81%, 3% 78%, 3% 71%, 19% 18%);
    height: 26px;
    width: 26px;
    background-color: #fff;
    -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
    top: 192px;
    left: 4px;
  }
}

.slider__title {
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.slider__text {
  font-size: 14px;
  line-height: 20px;
  color: #626C77;
}

@media (min-width: 1024px) {
  .slider__text {
    font-size: 17px;
    line-height: 24px;
  }
}

.slider__image {
  max-width: 595px;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (min-width: 1024px) {
  .slider__image {
    grid-row: inherit;
  }
}
/*# sourceMappingURL=index.css.map */
