// == MEDIA == //
$m360: "360px";
$m414: "414px";
$m550: "550px";
$m768: "768px"; // не используется ?
$m896: "896px";
$m1024: "1024px";
$m1280: "1280px"; 
$m1360: "1360px";
$m1440: "1440px"; // не используется ?
$m1600: "1600px";
$ff-1: "MTS Sans",
Arial,
Helvetica,
sans-serif;
$mts: #ea212e;
$ff-old-1: "Fira Sans";
$ff-old-2: "Inter";


// == COLORS == //
$neutral-100: #000000;
$neutral-200: #2C3135;
$neutral-300: #626C77;
$neutral-400: #969FA8;
$neutral-500: #BBC1C7;
$neutral-600: #E2E5EB;
$neutral-700: #F2F3F7;
$neutral-800: #FFFFFF;
$red-100: #E30611;
$red-200: #C8050F;
$red-300: #AD050D;
$blue-100: #007DBB;
$blue-200: #006EA5;
$blue-300: #005F8E;
$green-100: #009A00;
$green-200: #008800;
$green-300: #007500;
$orange-100: #E06400;
$orange-200: #C55800;
$orange-300: #AA4C00;
$color-pink-100: #f0dcf08a;